<!-- Fixed bottom navbar -->
<nav class="fixed-bottom">
  <!-- Material toolbar -->
  <mat-toolbar color="accent" fxHide fxShow.xs>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="container">
      <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
      <button mat-icon-button routerLink="/explore"><mat-icon>explore</mat-icon></button>
      <button mat-icon-button routerLink="/create"><mat-icon>create</mat-icon></button>
      <button mat-icon-button routerLink="/share"><mat-icon>share</mat-icon></button>
    </div>
  </mat-toolbar>
</nav>